@import "colors.rasi"

* {
  font: "Nunito Nerd Font 16";
  background-color: @background-color-alt;
}

window {
  width: 360px;
  padding: 25px;
  border: 1px;
  border-radius: 12px;
  border-color: @accent-color;
  location: center;
  y-offset: -20px;
}

entry {
  expand: true;
}
