@import "colors.rasi"

* {
  background-color: @background-color-alt;
  text-color: @foreground-color;
  font: "Nunito Nerd Font 16";
}

window {
  width: 500px;
  padding: 16px 14px;
  border-radius: 25px;
  location: center;
  x-offset: 0;
  y-offset: -8%;
}

inputbar {
  children: [ prompt, entry ];
  vertical-align: 0;
}

entry {
  expand: true;
  text-color: @accent-color;
}
