@import "main.rasi"

mainbox {
  children: [ inputbar, listview ];
}

inputbar {
  children: [ prompt, entry ];
  vertical-align: 0;
}

prompt {
  margin: 2px;
}

entry {
  expand: true;
  margin: 2px;
}
